.top-head {
    background-color: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  
    &__heading {
      color: $colorSelectSite;
      font-size: 24px;
      font-weight: 400;
    }
  
    .breadcrumbs {
      color: #636363;
      font-size: 14px;
      &__ul {
        list-style-type: none; 
        display: flex;
      } 
  
      &__li:not(:last-child)::after {
         content: '/';
         padding-left: 8px;
         padding-right: 8px;
         color: #636363;
         font-size: 14px;
         font-weight: 300; 
      }
  
      &__link {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
        &__site {
          color: $colorSelectSite;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }